
body{
  background:rgb(195, 191, 191)
}


.shadow{
  box-shadow: 1px 5px 5px red;
}

.navbar{
  display:flex;
  height: 4rem;
  width: 100vw;
  /* border: 2px solid red; */
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 1px 1px black;

}

.navlogo{
  /* border: 2px solid green; */
  margin-left: 20px;
  color: rgb(217, 10, 10);
  font-weight: bolder;

}
.navlinks{
  /* border: 2px solid green; */
  margin-right: 40px;
}
.navlinks a{
 margin-left: 20px;
 text-decoration: none;
 color: black;
 font-weight: 600;
}
